<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/0974e02f45.js" crossorigin="anonymous"></script>
</head>
<body>
    <header style="overflow:hidden;position:fixed;top:0;width:100%;left:0">
	<div style="display:flex;align-items:center;position:relative;height:100%;width:100%">
	    <a style="background:url(/images/logo.png);height:42px;width:42px;background-size:42px 42px;margin-right:5px;flex: 0 0 auto" href="/"></a>
	    <form style="flex-grow:2;border:1px solid #313131;border-radius:10px;padding:5px;background-color:whitesmoke;margin-right:10px;margin-left:5px">
	    <input type="text" name="search" placeholder="Have fun^^" style="width:80%;border:none;background-color:whitesmoke">
	    <button style="border:none;float:right"><i class="fas fa-search"></i></button>
	    </form>
	    <nav style="display:flex;flex-wrap:wrap;margin-right:10px" class="large">
		<a style="font-size: 17px;color: #f1f1f1;text-transform: uppercase;margin-right:10px" class="large"><i class="fas fa-volleyball-ball" style="margin-right: 5px"></i>SPORTS</a>
		<a style="font-size: 17px;color: #f1f1f1;text-transform: uppercase;margin-right:10px" class="large"><i class="fas fa-pizza-slice" style="margin-right: 5px"></i>FOOD</i>
		<a style="font-size: 17px;color: #f1f1f1;text-transform: uppercase;margin-right:10px" class="large"><i class="fas fa-tshirt" style="margin-right: 5px"></i>FASHION</a>
		<a style="font-size: 17px;color: #f1f1f1;text-transform: uppercase;margin-right:10px" class="large"><i class="fas fa-laptop" style="margin-right: 5px"></i>ELECTRONIC</a>
		<a style="font-size: 17px;color: #f1f1f1;text-transform: uppercase;margin-right:10px" class="large"><i class="fas fa-paw" style="margin-right: 5px"></i>PET</a>
		<a style="font-size: 17px;color: #f1f1f1;text-transform: uppercase;margin-right:10px" class="large"><i class="fas fa-couch" style="margin-right: 5px"></i>HOME</a>
		<a style="font-size: 17px;color: #f1f1f1;text-transform: uppercase;" class="large"><i class="fas fa-pen" style="margin-right: 5px"></i>stationery</a>
	    </nav>
	    <nav style="flex: 0 0 auto;float:right;margin-right:20px;margin-left: auto;order: 2;">
		<a style="font-size:25px;color:whitesmoke;flex: 0 0 auto" class="large"><i class="fas fa-user-circle"></i></a>
		<a style="font-size:25px;color:whitesmoke;flex: 0 0 auto" class="large"><i class="fas fa-shopping-cart"></i></a>
	    </nav>
	</div>
    </header>
    {{{ body }}}
    <div class="nav" style="display:none;align-items:center;justify-content: space-around;position:fixed;bottom:0;width:100%;left:0;z-index:99999">
	<a style="font-size: 25px;margin-right:10px;margin-left:10px;color:whitesmoke"><i class="fas fa-shopping-cart"></i></a>
	<a style="font-size: 25px;margin-right:10px;margin-left:10px;color:whitesmoke"><i class="fas fa-user-circle"></i></a>
	<a style="font-size: 25px;margin-right:10px;margin-left:10px;color:whitesmoke"><i class="fas fa-bars"></i></a>
	<a style="font-size: 25px;margin-right:10px;margin-left:10px;color:whitesmoke"><i class="fas fa-thumbtack"></i></a>
    </div>
</body>
</html>
