<div class="placement" style="margin-top: 72px;justify-content: space-between">
    <style>
	.dropdown-content{
	    right: 30%;
	    top: 30%;
	}
    </style>
    <h1>Cart</h1>
    <div class="section-slider"> 
    <div class="slider" style="flex-wrap: wrap; overflow: hidden; justify-content: space-around">
	<div class="dropdown" style="padding: 0">	
	    <div class="card">
	    <img class="img-slider" src="https://picsum.photos/300/300/?random">
	    <p>LA la a</p>
	    </div>
	    <div class="dropdown-content">
		<a class="text-content" href="/detail">detail</a>
		<a class="text-content" href="/">remove</a>
	    </div>
	</div>
	<div class="dropdown" style="padding: 0">	
	    <div class="card">
	    <img class="img-slider" src="https://picsum.photos/300/300/?random">
	    <p>LA la a</p>
	    </div>
	    <div class="dropdown-content">
		<a class="text-content" href="/detail">detail</a>
		<a class="text-content" href="#">remove</a>
	    </div>
	</div>
    </div>
    </div>
    <div class="placement" style="padding: 20px;margin: 10px; flex-direction: column;align-items: center">
    <a class="text-content">Total:</a>
    <p>123.456</p>
    <button>Payment</button>
    </div>
</div>
