<div class="placement" style="margin-top: 72px">
    <h1>Sports</h2>
    <div class="section-slider"> 
    <div class="slider" style="flex-wrap: wrap">
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/300/300/?random">
	<p>LA la a</p>
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/301/300/?random">
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/302/300/?random">
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/303/300/?random">
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/304/300/?random">
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/305/300/?random">
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/300/300/?random">
	<p>LA la a</p>
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/301/300/?random">
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/302/300/?random">
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/303/300/?random">
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/304/300/?random">
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/305/300/?random">
	<p>La Ha Ha</p>
	</div>

    </div>
</div>
