<div class="placement" style="margin-top: 72px; justify-content: flex-start">
    <h1>Checkout</h1>
    <form style="display:flex;flex-wrap: wrap;padding: 5px">
	<h2 style="width: 100%">1.&nbspAddress</h2>
	<label class="text-content" style="margin: 10px;width: 25vw;min-width: 300px"><input type=radio name="address">Address&nbsp<i style="font-size: 10px">A street, B ward, C district, D city</i></label>
	<label class="text-content" style="margin: 10px;width: 25vw;min-width: 300px"><input type=radio name="address">Address&nbsp<i style="font-size: 10px">16, X, Y, Z</i></label>
	<a href="/new_address" class="text-content" style="background-color: rgba(255, 255, 255, 0.8);color: black">New address</a>
	<h2 style="width: 100%">1.&nbspMethods</h2>
	<label class="text-content" style="margin: 10px;width: 25vw;min-width: 300px"><input type="radio" name="methods">Credit card</label>
	<label class="text-content" style="margin: 10px;width: 25vw;min-width: 300px"><input type="radio" name="methods">Banking</label>
	<label class="text-content" style="margin: 10px;width: 25vw;min-width: 300px"><input type="radio" name="methods">Cash on delivery</label>
	<h2 style="width: 100%">2.&nbspDelivery</h2>
	<label class="text-content" style="margin: 10px;width: 25vw;min-width: 300px"><input type="radio" name="delivery">Standard&nbsp<i style="font-size: 10px">8.000</i></label>
	<label class="text-content" style="margin: 10px;width: 25vw;min-width: 300px"><input type="radio" name="delivery">Fast&nbsp<i style="font-size: 10px">18.000</i></label>
	<a href="#" class="text-content" style="background-color: rgba(255, 255, 255, 0.8);color: black; padding: 20px">payment</a>
    </form>
</div>
