<div class="placement" style="margin-top: 72px;justify-content: space-around;align-items: center">
    <h1>Clothes 0000x</h1>
    <div class="section-slider" style="width"> 
    <div class="slider" style="display: block">
	<div class="card">
        <img src="https://picsum.photos/300/300/?random" style="max-width:350px;width:100%;height:auto">
	<p>LA la a</p>
	</div>
    </div>
    </div>
    <div style="margin: 20px;display: flex;flex-wrap: wrap;flex-direction: column;align-items:flex-start">
    <a class="text-content" style="margin: 0">TT1: <i>absdasdasdasdasdasdsadac</i></a>
    <a class="text-content" style="margin: 0">TT1: <i>absdasdasdasdasdasdsadac</i></a>
    <a class="text-content" style="margin: 0">TT1: <i>absdasdasdasdasdasdsadac</i></a>
    <a class="text-content" style="margin: 0">TT1: <i>absdasdasdasdasdasdsadac</i></a>
    <a class="text-content" style="margin: 0">TT1: <i>abssdasdasdasdsadac</i></a>
    <a class="text-content" style="margin: 0">TT1: <i>absdasdasdasdasdasdsadac</i></a>
    </div>
</div>
