<div class="placement" style="margin-top: 72px; justify-content: flex-start">
    <h1>Edit address</h1>
    <form style="display:flex;flex-wrap: wrap;padding: 5px">
	<label class="text-content" style="margin: 10px;width: 25vw;min-width: 300px">Name<input value="NVA" type="text" style="float: right; width: 55%"></label>
	<label class="text-content" style="margin: 10px;width: 25vw;min-width: 300px">Province<input value="A" type="text" style="float: right; width: 55%"></label>
	<label class="text-content" style="margin: 10px;width: 25vw;min-width: 300px">District<input value="B" type="text" style="float: right; width: 55%"></label>
	<label class="text-content" style="margin: 10px;width: 25vw;min-width: 300px">Ward<input value="C" type="text" style="float: right; width: 55%"></label>
	<label class="text-content" style="margin: 10px;width: 25vw;min-width: 300px">Mail<input value="mail@dm.com" type="email" style="float: right; width: 55%"></label>
	<label class="text-content" style="margin: 10px;width: 25vw;min-width: 300px">Phone<input value="013545" type="tel" style="float: right; width: 55%"></label>
	<label class="text-content" style="margin: 10px;width: 25vw;min-width: 300px">Address<input value="43" type="text" style="float: right; width: 55%"></label>
	<a class="text-content" style="background-color: rgba(255, 255, 255, 0.8); color: black" href="#">Update</button>
    </form>
</div>
