<div class="placement" style="margin-top: 72px; justify-content: flex-start">
    <h1>Info</h1>
    <form style="display:flex;flex-wrap: wrap;padding: 5px">
	<label class="text-content" style="margin: 10px;width: 25vw;min-width: 300px">Name<input type="text" style="float: right; width: 55%" value="TTT"></label>
	<label class="text-content" style="margin: 10px;width: 25vw;min-width: 300px">Birtdate<input type="text" style="float: right; width: 55%" value="12/11/1999"></label>
	<label class="text-content" style="margin: 10px;width: 25vw;min-width: 300px">Mail<input type="text" style="float: right; width: 55%" value="mail@dm.com"></label>
	<label class="text-content" style="margin: 10px;width: 25vw;min-width: 300px">Phone<input type="text" style="float: right; width: 55%" value="0xxxxxx123"></label>
	<label class="text-content" style="margin: 10px;width: 25vw;min-width: 300px">Gender<input type="text" style="float: right; width: 55%" value="N"></label>
	<button>Update</button>
    </form>
</div>
