<div class="placement" style="margin-top: 72px">
    <style>
	.dropdown-content{
	    right: 30%;
	    top: 30%;
	}
    </style>
    <h1>Shop: asdasda</h1>
    <a class="text-content" style="margin: 10px" href="/new_product"><i class="fas fa-plus-square" style="margin-right: 5px"></i>New product</a>
    <a class="text-content" style="margin: 10px"><i class="fab fa-replyd" style="margin-right: 5px"></i>Rename shop</a>
    <div class="section-slider"> 
    <div class="slider" style="flex-wrap: wrap">
	<div class="dropdown" style="padding: 0">	
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/300/300/?random">
	<p>LA la a</p>
	</div>
	<div class="dropdown-content">
	    <a class="text-content" href="/edit_product">edit</a>
	    <a class="text-content" href="/remove">remove</a>
	</div>
	</div>
	<div class="dropdown" style="padding: 0">	
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/301/300/?random">
	<p>LA la a</p>
	</div>
	<div class="dropdown-content">
	    <a class="text-content" href="/edit_product">edit</a>
	    <a class="text-content" href="/remove">remove</a>
	</div>
	</div>
	<div class="dropdown" style="padding: 0">	
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/302/300/?random">
	<p>LA la a</p>
	</div>
	<div class="dropdown-content">
	    <a class="text-content" href="/edit_product">edit</a>
	    <a class="text-content" href="/remove">remove</a>
	</div>
	</div>
	<div class="dropdown" style="padding: 0">	
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/303/300/?random">
	<p>LA la a</p>
	</div>
	<div class="dropdown-content">
	    <a class="text-content" href="/edit_product">edit</a>
	    <a class="text-content" href="/remove">remove</a>
	</div>
	</div>
	<div class="dropdown" style="padding: 0">	
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/304/300/?random">
	<p>LA la a</p>
	</div>
	<div class="dropdown-content">
	    <a class="text-content" href="/edit_product">edit</a>
	    <a class="text-content" href="/remove">remove</a>
	</div>
	</div>
	<div class="dropdown" style="padding: 0">	
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/305/300/?random">
	<p>LA la a</p>
	</div>
	<div class="dropdown-content">
	    <a class="text-content" href="/edit_product">edit</a>
	    <a class="text-content" href="/remove">remove</a>
	</div>
	</div>
	<div class="dropdown" style="padding: 0">	
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/306/300/?random">
	<p>LA la a</p>
	</div>
	<div class="dropdown-content">
	    <a class="text-content" href="/edit_product">edit</a>
	    <a class="text-content" href="/remove">remove</a>
	</div>
	</div>
	<div class="dropdown" style="padding: 0">	
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/307/300/?random">
	<p>LA la a</p>
	</div>
	<div class="dropdown-content">
	    <a class="text-content" href="/edit_product">edit</a>
	    <a class="text-content" href="/remove">remove</a>
	</div>
	</div>
	<div class="dropdown" style="padding: 0">	
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/308/300/?random">
	<p>LA la a</p>
	</div>
	<div class="dropdown-content">
	    <a class="text-content" href="/edit_product">edit</a>
	    <a class="text-content" href="/remove">remove</a>
	</div>
	</div>
	<div class="dropdown" style="padding: 0">	
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/309/300/?random">
	<p>LA la a</p>
	</div>
	<div class="dropdown-content">
	    <a class="text-content" href="/edit_product">edit</a>
	    <a class="text-content" href="/remove">remove</a>
	</div>
	</div>
	<div class="dropdown" style="padding: 0">	
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/310/300/?random">
	<p>LA la a</p>
	</div>
	<div class="dropdown-content">
	    <a class="text-content" href="/edit_product">edit</a>
	    <a class="text-content" href="/remove">remove</a>
	</div>
	</div>
	<div class="dropdown" style="padding: 0">	
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/312/300/?random">
	<p>LA la a</p>
	</div>
	<div class="dropdown-content">
	    <a class="text-content" href="/edit_product">edit</a>
	    <a class="text-content" href="/remove">remove</a>
	</div>
	</div>



    </div>
    </div>
</div>
