<div class="placement" style="margin-top: 72px">
    <style>
	.dropdown-content{
	    right: 30%;
	    top: 30%;
	}
    </style>
    <h1>Electronic</h1>
    <div class="section-slider"> 
    <div class="slider" style="flex-wrap: wrap">
	<div class="dropdown" style="padding: 0">	
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/300/300/?random">
	<p>LA la a</p>
	</div>
	<div class="dropdown-content">
	    <a class="text-content" href="/detail">detail</a>
	    <a class="text-content" href="/pin">pin</a>
	</div>
	</div>
	<div class="dropdown" style="padding: 0">	
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/301/300/?random">
	<p>LA la a</p>
	</div>
	<div class="dropdown-content">
	    <a class="text-content" href="/detail">detail</a>
	    <a class="text-content" href="/pin">pin</a>
	</div>
	</div>
	<div class="dropdown" style="padding: 0">	
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/302/300/?random">
	<p>LA la a</p>
	</div>
	<div class="dropdown-content">
	    <a class="text-content" href="/detail">detail</a>
	    <a class="text-content" href="/pin">pin</a>
	</div>
	</div>
	<div class="dropdown" style="padding: 0">	
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/303/300/?random">
	<p>LA la a</p>
	</div>
	<div class="dropdown-content">
	    <a class="text-content" href="/detail">detail</a>
	    <a class="text-content" href="/pin">pin</a>
	</div>
	</div>
	<div class="dropdown" style="padding: 0">	
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/304/300/?random">
	<p>LA la a</p>
	</div>
	<div class="dropdown-content">
	    <a class="text-content" href="/detail">detail</a>
	    <a class="text-content" href="/pin">pin</a>
	</div>
	</div>
	<div class="dropdown" style="padding: 0">	
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/305/300/?random">
	<p>LA la a</p>
	</div>
	<div class="dropdown-content">
	    <a class="text-content" href="/detail">detail</a>
	    <a class="text-content" href="/pin">pin</a>
	</div>
	</div>
	<div class="dropdown" style="padding: 0">	
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/306/300/?random">
	<p>LA la a</p>
	</div>
	<div class="dropdown-content">
	    <a class="text-content" href="/detail">detail</a>
	    <a class="text-content" href="/pin">pin</a>
	</div>
	</div>
	<div class="dropdown" style="padding: 0">	
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/307/300/?random">
	<p>LA la a</p>
	</div>
	<div class="dropdown-content">
	    <a class="text-content" href="/detail">detail</a>
	    <a class="text-content" href="/pin">pin</a>
	</div>
	</div>
	<div class="dropdown" style="padding: 0">	
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/308/300/?random">
	<p>LA la a</p>
	</div>
	<div class="dropdown-content">
	    <a class="text-content" href="/detail">detail</a>
	    <a class="text-content" href="/pin">pin</a>
	</div>
	</div>
	<div class="dropdown" style="padding: 0">	
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/309/300/?random">
	<p>LA la a</p>
	</div>
	<div class="dropdown-content">
	    <a class="text-content" href="/detail">detail</a>
	    <a class="text-content" href="/pin">pin</a>
	</div>
	</div>
	<div class="dropdown" style="padding: 0">	
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/310/300/?random">
	<p>LA la a</p>
	</div>
	<div class="dropdown-content">
	    <a class="text-content" href="/detail">detail</a>
	    <a class="text-content" href="/pin">pin</a>
	</div>
	</div>
	<div class="dropdown" style="padding: 0">	
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/312/300/?random">
	<p>LA la a</p>
	</div>
	<div class="dropdown-content">
	    <a class="text-content" href="/detail">detail</a>
	    <a class="text-content" href="/pin">pin</a>
	</div>
	</div>



    </div>
    </div>
</div>
