<div class="placement" style="margin-top: 72px;">
    <h1> Hi, deals today!</h1>
    <div class="con" style="margin:10px;">
	<ul>
	    <li>
		<input type="radio" name="slide" checked="checked">
		<div class="slide" style="border-radius:10px">
		    <img src ="/images/s1.png" alt="1.jpg" style="width:100%;height:100%">
		    <div class="content">
			<h2>Slide One</h2>
			<p> This is my sdsdjs sdksjhajd saj</p>
		    </div>
		</div>
	    </li>
	    <li>
		<input type="radio" name="slide">
		<div class="slide">
		    <img src ="/images/s2.png" alt="1.jpg" style="width:100%;height:100%">
		    <div class="content">
			<h2>Slide Two</h2>
			<p> This is my sdsdjs sdksjhajd saj</p>
		    </div>
		</div>
	    </li>
	    <li>
		<input type="radio" name="slide">
		<div class="slide">
		    <img src ="/images/s5.png" alt="1.jpg" style="width:100%;height:100%">
		    <div class="content">
			<h2>Slide Three</h2>
			<p> This is my sdsdjs sdksjhajd saj</p>
		    </div>
		</div>
	    </li>
	</ul>
    </div>
    <div class="poster">
	<h2> News: sdasdjhsakj sadhka</h2>
	<p> ahsdjk jadhakj sakdjaslk</p>
    </div>
    <div class="poster">
	<h2> News: klajsdkals</h2>
	<p> daklsihjhc</p>
    </div>
    <div class="poster">
	<h2> News: klajsdkals</h2>
	<p> daklsihjhc</p>
    </div>
    <div class="poster"> 
	<h2> News: klajsdkals</h2>
	<p> daklsihjhc</p>
    </div>
</div>

<div class="placement" style="display: block;margin-top: 10px">
    <h1>Most popular</h2>
    <div class="section-slider">
    <div class="slider">
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/300/300/?random">
	<p>LA la a</p>
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/301/300/?random">
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/302/300/?random">
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/303/300/?random">
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/304/300/?random">
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/305/300/?random">
	</div>
    </div>
   </div>
</div>
<div class="placement" style="display: block;margin-top: 10px">
    <h1>Collection</h2>
    <div class="section-slider"> 
    <div class="slider">
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/300/300/?random">
	<p>LA la a</p>
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/301/300/?random">
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/302/300/?random">
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/303/300/?random">
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/304/300/?random">
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/305/300/?random">
	</div>
    </div>
   </div>
</div>
