<div class="placement" style="margin-top: 72px;">
    <style>
	.poster .text-content{
	    color: #6a18bc;
	}
    </style>
    <h1>List orders</h1>
    <div style="width: 100%">
    <a class="text-content" style="margin: 10px" href="#"><i class="fas fa-receipt" style="margin-right: 5px"></i>Ordered</a>
    <a class="text-content" style="margin: 10px" href="#"><i class="fas fa-box-open" style="margin-right: 5px"></i>Processing</a>
    <a class="text-content" style="margin: 10px" href="#"><i class="fas fa-shipping-fast" style="margin-right: 5px"></i>Shipped</a>
    <a class="text-content" style="margin: 10px" href="#"><i class="fas fa-check-circle" style="margin-right: 5px"></i>Delivered</a>
    </div>
    <div class="poster" style="margin: 10px">
	<a class="text-content" href="/order">ID: asd</a> 
	<p>Date: 12/11/1999</p>
    </div>
    <div class="poster" style="margin: 10px">
	<a class="text-content" href="/order">ID: dsad</a> 
	<p>Date: 12/11/2019</p>
    </div>
    <div class="poster" style="margin: 10px">
	<a class="text-content" href="/order">ID: 132das</a> 
	<p>Date: 05/12/1245</p>
    </div>
    <div class="poster" style="margin: 10px">
	<a class="text-content" href="/order">ID: dasdh</a> 
	<p>Date: 12/12/1999</p>
    </div>

</div>
