<div class="placement" style="margin-top: 72px;">
    <style>
	.poster .text-content{
	    color: #6a18bc;
	}
    </style>
    <h1>List addresses</h1>
    <div style="width: 100%">
    <a class="text-content" style="margin: 10px" href="/new_address"><i class="fas fa-plus-circle" style="margin-right: 5px"></i>New</a>
    </div>
    <div class="poster" style="margin: 10px">
	<a class="text-content" href="/edit_address">Address: A, B, C, D</a> 
	<p>Phone: 0xxxxxxx123, Name: NVA</p>
    </div>
    <div class="poster" style="margin: 10px">
	<a class="text-content" href="/edit_address">Address: X, Y, Z, M</a> 
	<p>Phone: 0xxxxxxx124, Name: NVB</p>
    </div>
</div>
