<div class="placement" style="justify-content: flex-start; margin-top: 72px">
    <h1>Login</h1>
    <form style="display: flex; flex-wrap: wrap; padding: 5px">
	<label class="text-content" style="margin: 10px; width: 350px">Username<input type="text" style="float: right"></label>
	<label class="text-content" style="margin: 10px; width: 350px">Password<input type="password" style="float: right"></label>
	<button>Login</button>
    </form>
</div>

<div class="placement" style="margin-top: 10px; justify-content: flex-start">
    <h1>Sign-up</h1>
    <form style="display:flex;flex-wrap: wrap;padding: 5px">
	<label class="text-content" style="margin: 10px;width:350px">Username<input type="text" style="float:right"></label>
	<label class="text-content" style="margin: 10px;width:350px">Password<input type="password" style="float:right"></label>
	<label class="text-content" style="margin: 10px;width:350px">Name<input type="text" style="float:right"></label>
	<label class="text-content" style="margin: 10px;width:350px">Birtdate<input type="text" style="float:right"></label>
	<label class="text-content" style="margin: 10px;width:350px">Mail<input type="text" style="float:right"></label>
	<label class="text-content" style="margin: 10px;width:350px">Phone<input type="text" style="float:right"></label>
	<label class="text-content" style="margin: 10px;width:350px">Gender<input type="text" style="float:right"></label>
	<button>Sign-up</button>
    </form>
</div>
