<div class="placement" style="justify-content: flex-start; margin-top: 72px">
    <h1>Login</h1>
    <form style="display: flex; flex-wrap: wrap; padding: 5px">
	<label class="text-content" style="margin: 10px;width: 25vw;min-width: 300px">Username<input type="text" style="float: right; width: 55%"></label>
	<label class="text-content" style="margin: 10px;width: 25vw;min-width: 300px">Password<input type="password" style="float: right; width: 55%"></label>
	<a class="text-content" style="color: black; background-color: rgba(255, 255, 255, 0.8)">Login</a>
    </form>
</div>

<div class="placement" style="margin-top: 10px; justify-content: flex-start">
    <h1>Sign-up</h1>
    <form style="display:flex;flex-wrap: wrap;padding: 5px">
	<label class="text-content" style="margin: 10px;width: 25vw;min-width: 300px">Username<input type="text" style="float: right; width: 55%; height: 20px"></label>
	<label class="text-content" style="margin: 10px;width: 25vw;min-width: 300px">Password<input type="password" style="float: right; width: 55%; height: 20px"></label>
	<label class="text-content" style="margin: 10px;width: 25vw;min-width: 300px">Name<input type="text" style="float: right; width: 55%; height: 20px"></label>
	<label class="text-content" style="margin: 10px;width: 25vw;min-width: 300px">Birtdate<input type="date" style="float: right; width: 55%; height: 20px"></label>
	<label class="text-content" style="margin: 10px;width: 25vw;min-width: 300px">Mail<input type="email" style="float: right; width: 55%; height: 20px"></label>
	<label class="text-content" style="margin: 10px;width: 25vw;min-width: 300px">Phone<input type="tel" style="float: right; width: 55%; height: 20px"></label>
	<label class="text-content" style="margin: 10px;width: 25vw;min-width: 300px">Gender<input type="text" style="float: right; width: 55%; height: 20px"></label>
	<a class="text-content" style="color: black; background-color: rgba(255, 255, 255, 0.8)">Sign-up</a>
    </form>
</div>

<div class="placement" style="justify-content: flex-start; margin-top: 10px">
    <h1>Forgot password</h1>
    <form style="display: flex; flex-wrap: wrap; padding: 5px">
	<label class="text-content" style="margin: 10px;width: 25vw;min-width: 300px">Username<input type="text" style="float: right; width: 55%"></label>
	<a class="text-content" style="color: black; background-color: rgba(255, 255, 255, 0.8)">Send code to phone</a>
    </form>
</div>

