<div class="placement" style="margin-top: 72px;justify-content: space-around;align-items: center">
    <h1>New product</h1>
    <div class="section-slider" style="width"> 
    <div class="slider" style="display: block">
	<div class="card">
        <img src="https://picsum.photos/300/300/?random" style="max-width:350px;width:100%;height:auto">
	<p>Name:<input type="text"></input></p>
	</div>
    </div>
	<button>Upload</button>
    </div>
    <div style="margin: 20px;display: flex;flex-wrap: wrap;flex-direction: column;align-items:center">
    <a class="text-content" style="margin: 0">TT1: <input type="text"></input></a>
    <a class="text-content" style="margin: 0">TT1: <input type="text"></input></a>
    <a class="text-content" style="margin: 0">TT1: <input type="text"></input></a>
    <a class="text-content" style="margin: 0">TT1: <input type="text"></input></a>
    <a class="text-content" style="margin: 0">TT1: <input type="text"></input></a>
    <a class="text-content" style="margin: 0">TT1: <input type="text"></input></a>
    <a class="text-content" style="margin: 0">TT1: <input type="text"></input></a>
    <button>Add info</button>
    </div>
    <button>Add product</button>
</div>
