<div class="placement" style="display: block;margin-top: 72px">
    <h1>Order: MX123</h2>
    <div class="section-slider">
    <div class="slider">
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/300/300/?random">
	<p>LA la a</p>
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/301/300/?random">
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/302/300/?random">
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/303/300/?random">
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/304/300/?random">
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/305/300/?random">
	</div>
    </div>
    </div>
    <div class="placement" style="padding: 20px; margin: 10px; flex-direction: column;align-items: center">
    <a class="text-content">Total:</a>
    <p>123.456</p>
    <a class="text-content">Status:</a>
       <div style="margin: 10px; width: 100%">
    <ul class="progressbar">
        <li class="active">Ordered</li>
        <li>Processing</li>
        <li>Shipped</li>
        <li>Delivered</li>
    </ul>
    </div>
    </div>
    </div>
     
</div>
